.App {
  text-align: center;
  color: black;
  border: 1px solid #aaaaaa;
  margin: 10px;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  background: white;
  min-width: 30em;
  min-height: 25em;
}
.App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}
