.App {
  text-align: center;
  color: black;
  border: 1px solid #aaaaaa;
  margin: 10px;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
  background: white;
  min-width: 30em;
  min-height: 25em;
}
.App > h1 {
  margin-bottom: 1em;
  color: #ead7d7;
  font-family: "Microsoft YaHei";
}
.App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}
.App > h1 > button {
  border: 1px solid #ead7d7;
  margin-left: 3px;
  border-radius: 4px;
  cursor: pointer;
  background: #ead7d7;
}